<mat-card>
    Current Time: <app-timer (started)="onStarted()"></app-timer>
    <div *ngIf="!breakStarted">
      Point total: {{points}}
      <div *ngIf="questions">
        <app-questions (onAnswerClicked)="onAnswerClicked($event)"
                      [finished]="finished"
                      [question]="currentQuestion"
                      [index]="index"
                      [pointsGained]="pointsGained">
        </app-questions>
        <mat-progress-bar color="accent" [value]="100*index/questions.length"></mat-progress-bar>
      </div>
    </div>
    <div *ngIf="breakStarted">
      <button color="accent" (click)="onBreakEnd()">End break</button>
    </div>
</mat-card>
