<div class="w3-container w3-margin-top">
  <div class="w3-card-4">
    <vq-timer (started)="onStarted($event)"></vq-timer>
    <div *ngIf="!breakStarted">
          {{points}}
          <div *ngIf="questions">
            <vq-questions (onAnswerClicked)="onAnswerClicked($event)"
              [finished]="finished"
              [question]="currentQuestion"
              [index]="index"></vq-questions>
            <vq-progress-bar [completed]="index"
              [outOf]="questions.length"></vq-progress-bar>
          </div>
    </div>
    <div *ngIf="breakStarted">
          <button (click)="onBreakEnd()">End break</button>
    </div>
  </div>
</div>
