<mat-card>
    Current Time: <app-timer (started)="onStarted()"></app-timer>
    <div *ngIf="!breakStarted">
      Point total: {{points}}
      <div *ngIf="currentQuestion">
        <app-questions (answerClicked)="onAnswerClicked($event)"
                       [finished]="finished"
                       [currentQuestion]="currentQuestion"
                       [index]="index"
                       [pointsGained]="pointsGained">
        </app-questions>
        <mat-progress-bar color="accent" [value]="100*index/questions.length"></mat-progress-bar>
      </div>
    </div>
    <div *ngIf="breakStarted">
      <button mat-raised-button color="accent" (click)="onBreakEnd()">End break</button>
    </div>
</mat-card>
