<div *ngIf="admin.loggedIn()">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Information
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title >
          Starting the server
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        Once you have installed the heroku CLI
        <a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs#set-up">here</a>, then you are ready
        to start the server.</p>
      <p>
        The next thing to check is whether or not the heroku server is set to use a hobby dyno or
        a free dyno. This can be checked at the main heroku page for the project
        <a href="https://dashboard.heroku.com/apps/virtual-quiz">here</a>. It should be set to a hobby dyno for the period
        of the competition, and a free dyno at all other times. This is because a free dyno will automatically sleep
        after 30 minutes, which we don't want.
      </p>
      <p>
        Finally, log in to heroku using 'heroku login' on the command line and then type 'heroku ps:scale web=1' to
        start the server, or 'heroku ps:scale web=0' to stop it.
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title >
          Potential issues with uploading questions
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        The most important thing about the format of the csv file you upload to be the new questions via the admin
        interface, is to make sure the format of the columns is correct. The columns should be in the following order:
        Date and time, Category, Question, answer A, B, C, D, E, Correct answer (as a letter A-E). There may be more
        columns, but they will not be used. Also it's important that the csv file contain a header row, that is, a row
        before the rows containing data.
      </p>
      <p>
        Another potential issue could be that the lines containing a quote character(") have not been properly escaped
        by the csv exporter (should look like "")
      </p>
    </mat-expansion-panel>
  </mat-expansion-panel>
  <mat-card>
    <div>
      <label for="fileUpload">Upload the csv file containing the questions</label>
      <div>
        <button mat-raised-button type="button" id="fileUpload" color="accent" (click)="fileInput.click()">
          Choose File
        </button>
        <input #fileInput
               hidden
               type="file"
               name="File Upload"
               (change)="fileUpload(fileInput)"
               accept=".csv"/>
      </div>
    </div>
  </mat-card>
  <mat-card>
    <a #downloader [href]="file" hidden download="teams.csv"></a>
    <button mat-raised-button type="button" color="accent" (click)="getTeams(downloader)"> Get teams as CSV </button>
  </mat-card>
  <mat-card>
    <div>
      <textarea rows="10" readonly>{{consoleOutput}}</textarea>
    </div>
    <button mat-raised-button color="accent" (click)="consoleOutput = ''">Clear Output</button>
  </mat-card>
</div>
<div *ngIf="!admin.loggedIn()">
  <mat-card>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <input matInput type="password" id="password" required
        formControlName="password" name="password" placeholder="Password">
      </mat-form-field>
      <button mat-raised-button color="accent" type="submit">Login</button>
    </form>
  </mat-card>
</div>
