<div *ngIf="admin.loggedIn()">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Information
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title >
          Starting the server
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        The first thing to check is whether or not the heroku server is set to use a hobby dyno or
        a free dyno. This can be checked at the main heroku page for the project
        <a href="https://dashboard.heroku.com/apps/virtual-quiz" target="_blank">here</a>. It should be set to a hobby
        dyno for the period of the competition, and a free dyno at all other times. This is because a free dyno will
        automatically sleep after 30 minutes, which we don't want.
      </p>
      <p>
        You can also turn the app on or off on this page by clicking the pencil next to the switch to the right of
        "web node dist/server/server.js", clicking on the switch, and then clicking confirm. If it is to the left, it is
        off, and if it is to the right, it is on. This can of course be easily confirmed by checking the website,
        although if you just turned it on, be sure to give it enough time to start up.
      </p>
      <p>
        Don't forget to change the dyno back to free after the competition, otherwise it will continue to bill us for
        the time it is running!
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title >
          Before the competition
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        Before the competition, be sure to remove all teams from the last year to avoid spoiling the results. You can do
        this by going to the <a href="https://dashboard.heroku.com/apps/virtual-quiz" target="_blank">main heroku page</a>,
        clicking on "mLab MongoDB" under "Installed add-ons" and then clicking "teams" under "Collections." You can remove
        all the teams by clicking the button labeled "delete all documents in this collection."
      </p>
      <p>
        Always check the final form of the questions read by the program by going to the app's
        <a href="https://dashboard.heroku.com/apps/virtual-quiz" target="_blank">main heroku page</a>, clicking on
        "mLab MongoDB" under "Installed add-ons" and then clicking "questions" under "Collections," as well as "answers"
        under "Collections." This should display the questions (or answers, respectively) you uploaded in a different
        format and order than you uploaded them, but they should be otherwise be the same with the following exception:
        quote characters(") will be escaped in some circumstances (appearing as \"). This is normal and important to the
        proper functioning of the program.
      </p>
      <p>
        Also, don't forget to set the time the competition starts (the process is described below under "Important
        Configuration") before you remove teams from last year and before you upload the new questions! Otherwise,
        someone could play before the competition starts and see all the questions in advance.
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title >
          After the competition
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        After the competition you can return to this admin page and click "Get teams as CSV" to download the results in
        a nice CSV format, ordered by points, which can be opened by any spreadsheet program like Microsoft Excel or
        Google Sheets.
      </p>
      <p>
        You can also view the teams manually by going to the <a href="https://dashboard.heroku.com/apps/virtual-quiz"
                                                                target="_blank">main heroku page</a>,
        clicking on "mLab MongoDB" under "Installed add-ons" and then clicking "teams" under "Collections." You can view
        some more data that isn't relevant to the results, but could be necessary for other purposes. Note that the times
        under team results (e.g. timeStarted) are recorded in UNIX time. There are several online converters allowing you
        to easily change this string of numbers into a more human-readable time format. However, make sure the converter
        supports UNIX time in milliseconds, otherwise you'll get a crazy result! Alternatively, you can divide the number
        you have by 1000 to obtain the UNIX time in seconds.
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title >
          Important configuration
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        There are a couple important configuration options for you to be aware of, which you can find in the "Config Vars"
        portion of the settings section on Heroku, <a href="https://dashboard.heroku.com/apps/virtual-quiz/settings"
                                                      target="_blank">here</a>. Here you can find the admin password,
        should you ever forget it, as well as the start date, that is, the time before which only practice play is allowed.
        The start date is in the format "Month/Day/Year Houram". am may also be pm. The time is CST/CDT. The rest of the
        variables are only interesting for developers, and are necessary for the proper functioning of the application.
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title >
          Potential issues with uploading questions
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        The most important thing about the format of the csv file you upload to be the new questions via the admin
        interface, is to make sure the format of the columns is correct. The columns should be in the following order:
        Date and time, Category, Question, answer A, B, C, D, E, Correct answer (as a letter A-E). There may be more
        columns, but they will not be used. Also it's important that the csv file contain a header row, that is, a row
        before the rows containing data.
      </p>
      <p>
        Another potential issue could be that the lines containing a quote character(") have not been properly escaped
        by the csv exporter (should look like "")
      </p>
    </mat-expansion-panel>
  </mat-expansion-panel>
  <mat-card>
    <div>
      <label for="fileUpload">Upload the csv file containing the questions</label>
      <div>
        <button mat-raised-button type="button" id="fileUpload" color="accent" (click)="fileInput.click()">
          Choose File
        </button>
        <input #fileInput
               hidden
               type="file"
               name="File Upload"
               (change)="fileUpload(fileInput)"
               accept=".csv"/>
      </div>
    </div>
  </mat-card>
  <mat-card>
    <a #downloader hidden download="teams.csv"></a>
    <button mat-raised-button type="button" color="accent" (click)="getTeams(downloader)"> Get teams as CSV </button>
  </mat-card>
  <mat-card>
    <div>
      <textarea rows="10" readonly>{{consoleOutput}}</textarea>
    </div>
    <button mat-raised-button color="accent" (click)="consoleOutput = ''">Clear Output</button>
  </mat-card>
</div>
<div *ngIf="!admin.loggedIn()">
  <mat-card>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <input matInput type="password" id="password" required
        formControlName="password" name="password" placeholder="Password">
      </mat-form-field>
      <button mat-raised-button color="accent" type="submit">Login</button>
    </form>
  </mat-card>
</div>
