<div *ngIf="admin.loggedIn()">
  <mat-card>
    <div>
      <label for="fileUpload">Upload the csv file containing the questions</label>
      <div>
        <button mat-raised-button type="button" id="fileUpload" color="accent" (click)="fileInput.click()">
          Choose File
        </button>
        <input #fileInput
               hidden
               type="file"
               name="File Upload"
               (change)="fileUpload($event)"
               accept=".csv"/>
      </div>
    </div>
  </mat-card>
  <mat-card>
    <div>
      <textarea rows="10" readonly>{{consoleOutput}}</textarea>
    </div>
    <button mat-raised-button color="accent" (click)="consoleOutput = ''">Clear Output</button>
  </mat-card>
</div>
<div *ngIf="!admin.loggedIn()">
  <mat-card>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <input matInput type="password" id="password" required
        formControlName="password" name="password" placeholder="Password">
      </mat-form-field>
      <button mat-raised-button color="accent" type="submit">Login</button>
    </form>
  </mat-card>
</div>
