<mat-card *ngIf="registrationAllowed">
      <h2>Signup</h2>
      <form (ngSubmit)="onSubmit()" #signupForm="ngForm">
        <mat-form-field>
          <!--<label class="w3-label" for="name">School Name</label>-->
          <input matInput type="text" id="name" [disabled]="submitted"
                 required
                 [(ngModel)]="team.schoolName" name="name" placeholder="School Name">
        </mat-form-field>
        <mat-form-field>
          <!--<label class="w3-label" for="team">Team Number</label>-->
          <input matInput type="number" id="team" [disabled]="submitted"
                 required
                 [(ngModel)]="team.team" name="team" placeholder="Team Number">
        </mat-form-field>
        <div [hidden]="!schoolExists">
          <p>School name and team already registered</p>
        </div>
        <button color="accent" mat-raised-button type="submit"
                [disabled]="!signupForm.form.valid || submitted">Submit</button>
      </form>
      <div [hidden]="!submitted">
        <button color="accent" mat-raised-button (click)="onClick()">Start Game</button>
      </div>
</mat-card>
<mat-card *ngIf="!registrationAllowed">
  <h2>Signup</h2>
  <p>
    Sorry, Registration is not available at this time<!--, however, feel free to play a practice set -->
  </p>
  <!--
  <div class="w3-container">
    <p>
      <button class="w3-btn w3-section w3-round" (click)="onClickPractice()">Play practice set</button>
    </p>
  </div>
  -->
</mat-card>
